<p id="notice"><%= notice %></p>
<p>
  <b>Event:</b>
  <%= @event.title %>
</p>

<p>
  <b>At:</b>
  <%= @event.venue.name %>
</p>

<p>
  <b>On:</b>
  <%= @event.start.strftime('%a %d %B, %Y at %H:%M') %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Published by:</b>
  <%= @event.user.email %>
</p>


<h2>Comments</h2>
<div id="comments">
    <%= render @event.comments %>
</div>

<% if user_signed_in? %>
    <h2>Add a comment:</h2>
    <%= render "comments/form" %>
<% end %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
