<p id="notice"><%= notice %></p>
<p>
  <b>Event:</b>
  <%= @event.title %>
</p>

<p>
  <b>At:</b>
  <%= @event.venue.name %>
</p>

<p>
  <b>On:</b>
  <%= @event.start.strftime('%a %d %B, %Y at %H:%M') %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<h2>Comments</h2>
<% @event.comments.each do |comment| %>
  <p>
    <b>User:</b>
    <%= comment.user %>
  </p>
 
  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@event, @event.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
