<p id="notice"><%= notice %></p>
<p>
  <b>Event:</b>
  <%= @event.title %>
</p>

<p>
  <b>At:</b>
  <%= @event.venue.name %>
</p>

<p>
  <b>On:</b>
  <%= @event.start.strftime('%a %d %B, %Y at %H:%M') %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<h2>Comments</h2>
<%= render @event.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
